<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/scan" ui-sref="app.scan">
          Authenticate
        </ion-item>
        <ion-item menu-close href="#/app/import" ui-sref="app.import">
          Import ID
        </ion-item>
        <ion-item menu-close href="#/app/export" ui-sref="app.export">
          Export ID
        </ion-item>
        <ion-item menu-close href="#/app/unlock" ui-sref="app.unlock">
          Switch ID
        </ion-item>
        <ion-item menu-close href="#/app/new" ui-sref="app.new">
          New ID
        </ion-item>
        <ion-item menu-close href="#/app/edit" ui-sref="app.edit">
          Edit ID
        </ion-item>
        <ion-item menu-close href="#/app/revoke" ui-sref="app.revoke">
          Revoke ID
        </ion-item>
        <ion-item menu-close href="#/app/logout" ui-sref="app.logout">
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
