<ion-view view-title="ID Seed Phrase">
  <ion-content class="padding">
    <div class="row">
      <div class="col col-center text-center">
        <div class="row">
            <div class="col"><b><span class="red">WRITE DOWN THIS PHRASE!</span></b></div>
        </div>        
        <div class="row">
            <div class="col">{{$session.prvKeyPhrase[0]}}</div>
            <div class="col">{{$session.prvKeyPhrase[1]}}</div>
            <div class="col">{{$session.prvKeyPhrase[2]}}</div>
        </div>
        <div class="row">
            <div class="col">{{$session.prvKeyPhrase[3]}}</div>
            <div class="col">{{$session.prvKeyPhrase[4]}}</div>
            <div class="col">{{$session.prvKeyPhrase[5]}}</div>
        </div>
        <div class="row">
            <div class="col">{{$session.prvKeyPhrase[6]}}</div>
            <div class="col">{{$session.prvKeyPhrase[7]}}</div>
            <div class="col">{{$session.prvKeyPhrase[8]}}</div>
        </div>
        <div class="row">
            <div class="col">{{$session.prvKeyPhrase[9]}}</div>
            <div class="col">{{$session.prvKeyPhrase[10]}}</div>
            <div class="col">{{$session.prvKeyPhrase[11]}}</div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col col-center">
      <div class="card">
      <div class="item item-text-wrap">
        <b>Write these 12 words down, in order, and keep them safe. You can regenerate your ID with them. You may need these if your device is lost, stolen or broken. <span class="red">Do this now, you cannot recover it later!</span></b>
      </div>
    </div>
  </div>
  </div>
    <div class="row">
      <div class="col text-center">
      </div>
      <div class="col text-center">
        <button class="button button-positive" ng-click="finish()">
          Next
             </button>
      </div>
  </div>
  </ion-content>
</ion-view>
