<ion-view view-title="Revoke Secret">
  <ion-content class="padding">
    <div class="row">
    	<div class="col col-center">
    		<div id="qrcode_revoke" class="center-qr"></div>
    	</div>
	</div>
    <div class="row">
    	<div class="col col-center text-center">
    		<b>{{sessionStorage.revokePhrase}}</b>
    	</div>
	</div>
    <div class="row">
    	<div class="col col-center">
    		<div class="card">
			  <div class="item item-text-wrap">
	    		<b>Write this pass phrase down and keep it safe. Use this if you ever need to revoke this ID.
    			You may want to do this if your device is lost or stolen. <span class="red">Do this now,
    			you cannot recover it later.</span></b>
			  </div>
			</div>
    	</div>
	</div>
    <div class="row">
    	<div class="col text-center">
    		<button class="button button-positive" ng-click="print()">
    			Print
             </button>
    	</div>
    	<div class="col text-center">
    		<button class="button button-positive" ng-click="go('app.preexport')">
    			Next
             </button>
    	</div>
	</div>
  </ion-content>
</ion-view>
