<ion-view view-title="1Block: Login">
  <ion-content class="padding">
    <div class="row">
        <div class="col">
          <div class="card text-center">ID: {{ $session.id.title }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="button button-block ion-camera button-positive" ng-click="scan()">
                Scan QR Code
            </button>
        </div>
    </div>
	  <div id="login-buttons" class="hide text-center">
      <div class="row">
          <div class="col">
              <p>Logging into: <b>{{ login_url }}</b></p>
          </div>
      </div>
      <div class="row">
          <div class="col">
            <button id="scan-confirm" class="button button-block ion-close-circled button-assertive" ng-click="cancelLogin()">
                CANCEL
            </button>
          </div>
          <div class="col">
            <button id="scan-confirm" class="button button-block ion-checkmark-circled button-balanced" ng-click="submitLogin()">
                CONTINUE
            </button>
          </div>          
      </div>
	  </div>
    <div id="success-dialog" class="hide text-center">
        <i class="icon ion-checkmark-circled"></i> <span id="success-text">Success!</span>
    </div>
	  <div id="error-dialog" class="hide text-center">
	  		<i class="icon ion-alert-circled"></i> Error: <span id="error-text">Error!</span>
	  </div>
  </ion-content>
</ion-view>

<script id="password-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Enter Password</h1>
    </ion-header-bar>
    <ion-content class="padding">
      <form ng-submit="save(id)">
        <div class="list list-inset">
          	<label class="item item-input">
        		<input type="password" placeholder="*******" ng-model="modal.password" autofocus>
        	</label>
          	<label class="item item-input invalid-password hide">
        		<p class="red">Invalid password</p>
        	</label>
        </div>
        <div class="padding text-center">
            <button type="submit" class="button button-block button-positive" ng-click="submitPassword()">Submit</button>
        </div>
        <div class="padding text-center">
            <button type="submit" class="button button-block button-assertive" ng-click="cancelPassword()">Cancel</button>
        </div>
      </form>
    </ion-content>
  </ion-modal-view>
</script>