<ion-view view-title="Site Confirm">
  <ion-content class="padding">
      <div class="row">
        <div class="col col-center">
          <div class="text-center">
            <div class="row">
                <div class="col">
                    <p>Logging into: <b>{{ $session.login_host }}</b></p>
                </div>
            </div>
            <div id="login-buttons">
              <div class="row">
                <div class="col">
                  <button id="scan-confirm-login" class="button button-block ion-checkmark-circled button-balanced" ng-click="submitLogin()">
                      CONTINUE
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button id="scan-confirm-cancel" class="button button-block ion-close-circled button-assertive" ng-click="cancelLogin()">
                      CANCEL
                  </button>
                </div>
              </div> 
            </div>
            <div class="row">
                <div class="col">
                  <div id="success-dialog" class="hide text-center">
                      <i class="icon ion-checkmark-circled"></i> <span id="success-text">Success!</span>
                  </div>
                  <div id="error-dialog" class="hide text-center">
                      <i class="icon ion-alert-circled"></i> Error: <span id="error-text">Error!</span>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
  </ion-content>
</ion-view>
