<ion-view view-title="1Block: Unlock ID">
    <ion-header-bar>
      <h1 class="title">Enter Password</h1>
    </ion-header-bar>
    <ion-content class="padding">
      <form name="unlockForm" novalidate>
		  <div class="form-group list">
			  <label class="item item-input item-select">
			    <div class="input-label">
			      ID
			    </div>
			    <select ng-model="$storage.selectedId" ng-options="$storage.ids.indexOf(id) as id.title for id in $storage.ids"></select>
			  </label>
		  </div>
        <div class="list list-inset">
          	<label class="item item-input">
        		<input name="password" type="password" class="form-control" placeholder="*******" ng-model="model.password" autofocus required>
        	</label>
        </div>
        <div class="padding text-center">
            <div id="success-dialog" class="hide text-center">
                <i class="icon ion-checkmark-circled"></i> <span id="success-text">Success!</span>
            </div>
            <div id="error-dialog" class="hide text-center">
                <i class="icon ion-alert-circled"></i> Error: <span id="error-text">Error!</span>
            </div>
        </div>
        <div class="padding text-center">
        	<div class="row">
        		<div class="col">
            		<button type="submit" class="button button-block button-positive" ng-click="unlockId(unlockForm)">Unlock</button>
            	</div>
        	</div>
        </div>
      </form>
    </ion-content>
</ion-view>
